:root{
    --font-size-default: 18px;
    --border-radius-default: 5px;
    --font-size-large: 22px;
    --font-size-medium: 20px;
    --font-size-default: 18px;
    --font-size-small: 16px;
    --font-size-x-small: 14px;
    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h3: 26px;
    --color-purple: #8066ff;
    --color-light-purple: #a28cff;
    --color-blackish: #000027;
    --color-blue: #0080f1;
    --color-D2D1D6: #d2d1d6;
    --color-f6f6f6: #f6f6f6;
    --color-f3f7fa: #f3f7fa;
    --color-1c71da: #1c71da;
    --color-907ad6: #907ad6;
    --color-5f45a9: #5f45a9;
    --color-skyblue: #f4fafa
}

*{
    outline:unset
    ;margin:unset
    ;padding:unset
    ;box-sizing:border-box;
    text-decoration:none;
    font-family:roboto,sans-serif;
    font-size:var(--font-size-default);
    text-decoration:none;
    color:inherit;
    line-height:2;
    max-width:100%
}

body{
    scroll-behavior:smooth
}


.cursor-pointer{
    cursor:pointer
}
.mobile-menu-trigger{
    height:30px;
    width:30px;
    transform:rotate(90deg)
}
.navbar.mobile{
    display:none
}
.mobile-menu-trigger>span{
    border:2px solid var(--color-blue)!important;
    margin:3px;
    background-color:var(--color-blue)!important
}
.topnav .icon{
    display:none
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:.2rem;
    border-bottom:1px solid #c0e6ff;
    width:1400px;
    max-width:99%;
    margin:0 auto
}

.navbar .logo{
    display:flex;
    align-items:center;
    column-gap:.2rem
}

.navbar .logo img{
    width:75px;
    height:75px
}


.nav-links ul{
    list-style:none;
    display:flex;
    gap:1rem;
    align-items:center;
    margin-right: 15px;
}

.nav-links ul *{
    font-size: 2vh;
}


header{
    background:white;
    width:100%;
    color:var(--color-blue);
    font-weight: bold;
    font-size: 2.5vh;
    height: 80px;
    display: flex;
}

@media only screen and (max-width:992px) {
    .convert-btn-row {
        flex-direction: column;
        gap: 20px;
        align-items: center
    }

    .navbar.desktop {
        display: none
    }

    .navbar.mobile {
        display: flex;
        position: relative
    }

    .mobile-nav-dropdown {
        position: absolute;
        right: 0;
        left: 0;
        top: 75px;
        background-color: #fff;
        display: none
    }
    
    .main_nav_border h3,
    h2 {
        font-weight: 500
    }

    .mobile-nav-dropdown ul {
        display: flex;
        flex-direction: column;
        gap: .1rem;
        list-style: none;
        color: #000;
        height: 200px;
        overflow: auto
    }

    .mobile-nav-dropdown ul li {
        padding: 5px 1rem
    }

    .mobile-nav-dropdown ul li:not(.except) {
        background: white;
        color: var(--color-blue);
    }
}