<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <meta name="_token" content="Pdfnw3XA43RcsrH56vFGUHdzzmhdSB4mng9TOabL" />
    
    <meta name="description"
        content="Steganography, this website lets you hide secret message in a cover file" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="stylesheet" type="text/css" href="../css/footer.css">

    <script async defer src="https://apis.google.com/js/api.js"></script>
    
    <style>
        
        .faq-box a {
            color: var(--color-purple);
        }


    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KJ1ZFKYBEY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-KJ1ZFKYBEY');
    </script>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () {
                (c[a].q = c[a].q || []).push(arguments)
            };
            t = l.createElement(r);
            t.async = 1;
            t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0];
            y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "gfcqu5z389");
    </script>
</head>

<body>
    
    
    
    <section class=" footer-cards">
        <div class="container">
            <div class="footer-cards-div ">
                <div class="footer-card-row">
                    <div class="col">
                        <div class="footer-card">
                            <div class="icon">
                                <img src="https://www.imagetotext.info/web_assets/frontend/img/envelope.svg" alt="icon"
                                    loading="lazy">
                            </div>
                            <div class="title">
                                <span>Email</span>
                            </div>
                            <div class="value">
                                <span><a href="mailto:projectdai011@gmail.com"><span
                                            class="__cf_email__">projectdai011@gmail.com</span></a></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="footer-card">
                            <div class="icon">
                                <img src="../image/pngwing.com.png" alt="icon"
                                    loading="lazy" width="40">
                            </div>
                            <div class="title">
                                <span>Github Repo</span>
                            </div>
                            <div class="value">
                                <span><a href="https://github.com/DaiProject04/oral_cancer_detection_DAI"><span
                                            class="__cf_email__">Github Repository</span></a></span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <footer>
        <section class="section footer-section">
            <div class="container">
                <div class="footer-grid">
                    <div>
                        <div class="footer_title">
                            <p>Other Tools</p>
                        </div>
                        <div class="links_list">
                            <a href="#">Home</a>
                            <a href="#">Link</a>
                            <a href="#">About Us</a>
                        </div>
                    </div>

                </div>
                <div class="copyright-row d-flex justify-space-between">
                    <div>
                        <span>
                            Copyright © All rights reserved |</a>
                        </span>
                    </div>
                    
                </div>
            </div>
        </section>
    </footer>

   
    
</body>

</html>