<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    

    <link rel="stylesheet" type="text/css" href="../css/main.css">
    

    <script async defer src="https://apis.google.com/js/api.js"></script>
    
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KJ1ZFKYBEY"></script>


</head>

<body>
    

    <section class="section tool-section">
        <div class="container">
            <div class="modal_img">
                <img src="../image/dentist-clinic.png" alt="modal" id="modal_img">
            </div>
            <div class="modal_text">
                <h1>Oral Cancer Detection</h1>
                <h2>Prevent . Detect . Refer</h2>
                <P>"EARLY DETECTION IS THE KEY IN THE FIGHT AGAINST ORAL CANCER.
                </P>
                <p>GET SCREENED, IT COULD SAVE YOUR LIFE."</p>
            </div>
            
        </div>
    </section>
    

   
    
</body>

</html>